*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box1{
    height: 500px;
    width: 410px;
    border: 1px solid black;
    position: relative;
    padding: 20px;
    top: 50px;
    left: 35%;
    background-color: blue;
}
.box2{
    height: 480px;
    width: 380px;
    border: 1px solid black;
    position: absolute;
    padding: 20px;
    top: 60px;
    left: 36%;
    background-color: white;
    border-radius: 10px;

}
img{
    height: 70px;
    position: absolute;
    left: 170px;
    top: 40px;
}
h2{
    display: flex;
    justify-content: center;
    color: blue;
    font-style: italic;
}
hr{
    position: relative;
    top: 60px;
}
.question1{
    
    position: absolute;
    left: 50px;
    top: 120px;
    
}
.question1 p{
    font-style: italic;
    font-weight: bolder;
}
